
@media (max-width: 1000px) {
    .containerContact {
      max-width: 100%;
    }
    .backTitle h1 {
      font-size: 3rem;
      width: auto;
      margin: auto;
      left: 0;
    }
    
    .frontTitle h2 {
      position: relative;
      color: white;
      top: 45px;
      font-size: 1rem;
    }
  }