
@media (max-width: 1000px) {
    .containerContact {
      max-width: 100%;
    }
    .containerContact .backTitle h1 {
      font-size: 3rem;
      width: auto;
      margin: auto;
      left: 0;
    }
    
    .h2Contact  {
      position: relative;
      color: white;
      top: 85px;
      font-size: 1.2rem;
    }
  }

  