.containerFooter {
  height: 150px !important;
  width: 85%;
  margin-left: 15%;
}

.textFooter {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.name {
  color: var(--secondary-color);
  margin: 0px 5px 0 3px;
}
@media (max-width: 1400px) {
  .containerFooter {margin-left: 20%;
    width: 80%;
  }
}
@media (max-width: 1000px) {
  .containerFooter {
    width: 100%;

    margin-left: 0%;
    font-size: 0.8rem;
  }
}
