.containerFooter {
    height: 150px !important;
}

.textFooter {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.name {
    color: var(--secondary-color);
    margin: 0px 5px 0 3px;
}


@media (max-width: 1000px) {
    .containerFooter {
      max-width: 100%;
      font-size: 0.8rem;
    }
  }