.textAbout {
  width: 100%;
  position: relative;
  top: 40%;
}

.leftText {
  width: 40%;
  padding: 10px;
}
.rightText {
    padding: 10px;
  width: 40%;
}
.flexDiv {
    display: flex;
    justify-content: center;
}

.bottomDiv {
    width: 80%;
    border: 1px solid red;
    margin: 100px auto;
}
@media (max-width: 1000px) {
    .containerAbout {
      max-width: 100%;
    }
    .containerAbout .backTitle h1 {
      font-size: 3rem;
      width: auto;
      margin: auto;
      left: 0;
    }
    
    .containerAbout .frontTitle h2 {
      position: relative;
      color: white;
      top: 40px;
      font-size: 1.2rem;
    }
  }
  

  @media (max-width: 500px) { 
    .textAbout {
      width: 100%;
      position: relative;
      top: 10%;
    }
  }

