.textAbout {
  width: 100%;
  position: relative;
  top: 15%;
  display: flex;
  flex-direction: column;
  height: 80vh;
}
.containerAbout {
  height: 100vh;
  width: 85%;
  margin-left: 15%;
}

.leftText {
  width: 40%;
  color: #ccc;
  padding: 20px;
  font-weight: 500;
}
.emphasis {
  padding: 10px;
  color: var(--secondary-color);
}
.flexDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomDiv {
  width: 50%;
  margin: 100px auto;
}
.bottomDiv h3 {
  color: #fff;
  margin: auto;
  text-align: center;
  padding: 10px;
}
.bottomDiv .border::after {
  content: "";
  width: 100px;
  height: 3px;
  background-color: var(--secondary-color);
  color: #fff;
  display: flex;
  margin: auto;
}
.bottomTitle {
  margin-bottom: 20px;
}
.oneDiv {
  display: flex;
  justify-content: space-evenly;
}
.fourDivs {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}
.fourDivsIcons {
  background-color: #3f3e3e;
  width: 90px;
  height: 90px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--secondary-color);
  margin: auto;
}
.fourDivs p {
  margin: 10px;
}

.bold {
  font-weight: bold;
  font-size: 1.1rem;
  color: #fff;
}
.texts {
  color: var(--secondary-color);
  width: 450px;
}
.texts::after {
  content: "";
  width: 300px;
  height: 1px;
  margin: 10px 0 20px 0;
  background-color: rgba(100, 100, 100, 0.5);
  color: #fff;
  display: flex;
}
@media (max-width: 1400px) {
  .containerAbout {
    width: 80%;
    margin-left: 20%;
  }
}

@media (max-width: 1000px) {
  .containerAbout {
    margin: 0;
    height: 120vh;
    width: 100%;
  }
  .textAbout {
    top: 10%;
  }

  .containerAbout .backTitle h1 {
    font-size: 3rem;
    width: auto;
    margin: auto;
    left: 0;
  }
  .bottomDiv {
    width: 80%;
    margin: 10px auto;
  }

  .h2About {
    position: relative;
    color: white;
    top: 40px !important;
    font-size: 1.2rem !important;
  }
  .flexDiv {
    display: flex;
    flex-direction: column;
  }
  .leftText {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .rightText {
    width: 100%;
    padding: 20px;
    text-align: justify;
    margin: 30px auto;
  }
  .texts::after {
    width: 100% !important;
  }
  .texts {
    width: 100%;
  }
  .bottomDiv {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .textAbout {
    width: 100%;
    position: relative;
    top: 10%;
  }
  .containerAbout {
    height: 130vh;
  }
  .bottomDiv {
    text-align: center;
  }
}
@media (max-width: 400px) {
  .containerAbout {
    height: 150vh;
  }
  .rightText {
    width: 100%;
  }
}
